ion-range {
  --bar-background-active: linear-gradient(to right, #f27a54 30%, #a154f2 100%);
  --bar-background: gray;
  --pin-background: linear-gradient(to right, #f27a54 30%, #a154f2 100%);
//   --knob-border-radius: 0;
//   --knob-size: 10px;
}
