<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title  size="small">public/ esqueci-senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">

        <ion-item>
          <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>

        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin btn-base">Enviar e-mail de recuperação</ion-button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>